# Pandas

- Dataframe
    - it is a 2D data structure
    - it is a table
    - it is a collection of series (columns)
- loading data
- selecting data
    - row wise
    - column wise
- adding data
    - row wise
    - column wise
- merging data
- filtering data
- grouping data
- cleaning data
    - missing data
    - duplicate data
    - outliers
- saving dat

In [ ]:
data=[{'Fruit':'Apple','Price':'100'},{'Fruit':'Banana','Price':'200'}]
print(data)

In [ ]:
import pandas as pd

In [ ]:
data=[{'Fruit':'Apple','Price':'100'},{'Fruit':'Banana','Price':'200','Discount':'50'}]
pd.DataFrame(data)

In [ ]:
path='Fifa.xlsx'
fifa=pd.read_excel(path)

In [ ]:
fifa

In [ ]:
students=dict(
    id=[1,2,3,4,5,6,7,8,9,10],
    name=['John','Jane','Joe','Sam','Om','Era','Yor','lio','Rio','kili'],
    age=[15,27,36,45,51,62,73,80,90,80]
)

std=pd.DataFrame(students)
std

In [ ]:
housing=pd.read_csv('housing_data.csv')
housing

In [ ]:
canada=pd.read_excel('Canada.xlsx',sheet_name='Canada by Citizenship',skiprows=20,skipfooter=2)
canada #! 1st method

In [ ]:
canada=pd.read_excel('Canada.xlsx',sheet_name=1,skiprows=20,skipfooter=2)
canada #! 2nd method

In [ ]:
std['id']

In [ ]:
fifa.columns.tolist()

In [ ]:
fifa['Player Name '][:6]

In [ ]:
fifa['Club '].value_counts()

In [ ]:
import matplotlib.pyplot as plt

In [ ]:
fifa['Club '].value_counts()[:15].plot(kind='bar')

In [ ]:
#fifa['Club '].value_counts()[:15].plot(kind='line')

In [ ]:
fifa['Club '].value_counts().size

In [ ]:
std[['name','age']]

In [ ]:
housing.columns

In [ ]:
housing.LotArea #^ Acessing single column

In [ ]:
housing[['MSSubClass','LotFrontage']]

In [ ]:
# second method for accessing more columns
cols=['MSSubClass','LotFrontage','LotArea']  #^ Multiple col 
housing[cols]

Row selection using loc and iloc, head and tail

In [ ]:
canada.set_index('OdName',inplace=True) #& this makes country column as the index column for canada dataframe
canada

In [ ]:
canada

In [ ]:
canada.columns

In [ ]:
for col in canada:
    print(f'{col}- {canada[col].nunique()}')

In [ ]:
canada.index

In [ ]:
canada.loc['Albania']

In [ ]:
canada.iloc[100]

In [ ]:
canada.iloc[10]

In [ ]:
canada.loc[['India','Albania']] #! passing name with loc[]

In [ ]:
canada.iloc[[0,3,6]] #! passing index with iloc[]

Adding Data

In [ ]:
students = pd.DataFrame({
    'id':[1,2,3,4,5,6,7,8,9,10],
    'name':['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j'],
    'english':[90,80,70,67,89,99,88,78,97,98],
    'math':[90,80,70,67,89,99,88,78,97,98],
    'science':[90,80,70,67,89,99,88,78,97,98]

}) # adding new record

In [ ]:
students.append({
    'id':99,
    'name':'u',
    'english':65,
    'math':75,
    'science':95,
},ignore_index=True)

In [ ]:
new_students=pd.DataFrame({
    'id':[99,44,33],
    'name':['u','y','o'],
    'english':[65,23,78],
    'math':[75,99,67],
    'science':[95,90,34],
})
students=pd.concat([students,new_students],ignore_index=True)
#! concatinate the new dataframe to the old dataframe.
#^ focus on data not indexing

In [ ]:
students

In [ ]:
students['english']+students['math']+students['science']

In [ ]:
students['total']=students['english']+students['math']+students['science']

In [ ]:
students

In [ ]:
students['school']='CMS'# constasnt value for all

In [ ]:
students

In [ ]:
def percentage(marks):
    return marks / 3

In [ ]:
students['total'].apply(percentage)

In [ ]:
students['percentage']=students['total'].apply(percentage)

In [ ]:
students

In [ ]:
a=pd.DataFrame({
    'name':['u','y','o','i'],
    'class':[6,8,9,7],
    'id':[1,2,3,7]
})
b=pd.DataFrame({
    'english':[65,23,78],
    'math':[75,99,67],
    'science':[95,90,34],
    'id':[1,8,3]
})

In [ ]:
out=a.merge(b,how ='inner',on='id')
out

In [ ]:
out=a.merge(b,how ='outer',on='id')
out

In [ ]:
out=a.merge(b,how ='right',on='id')
out

In [ ]:
out=a.merge(b,how ='left',on='id')
out

In [ ]:
a.merge(b,left_index=True,right_index=True)

In [ ]:
b

In [ ]:
out=a.merge(b,left_index=True,right_index=True)
out

filter, grouping, cleaning

In [ ]:
students['total']>=200 #! boolean filter

In [ ]:
students[students['total']>=250]

In [ ]:
students[students['name'].str.startswith('j')]

In [ ]:
students[~students['name'].str.startswith('j')]

In [ ]:
f1=students['name'].str.startswith('j')
f2=students['name'].str.startswith('a')
students[f1 | f2] #! any of condition

In [ ]:
housing['LotArea']>=10000

In [ ]:
f1=housing['LotArea']>=10000
f2=housing['LotArea']>=20000
housing[f1 & f2]

outliers r exception cases

In [ ]:
canada

In [ ]:
years=list(range(1980,2014))
print(years)

In [ ]:
canada[years].sum()

In [ ]:
canada.loc[['India','China'],years].T.plot(kind='line',figsize=(15,5))

In [ ]:
pd.set_option('display.max_columns',None)

Group By

In [ ]:
canada['Total']=canada[years].sum(axis=1)

In [ ]:
canada

In [ ]:
canada.sort_values(by='Total',ascending=False, inplace=True) #! inplace = true means hamesha k liye , false kar denge toh mtlb ki sirf test karne k liye dekhna h  
canada.head()

In [ ]:
canada.groupby('AreaName').groups

In [ ]:
canada.groupby('AreaName').get_group('Asia')

In [ ]:
canada.groupby('AreaName')['Total'].sum()

In [ ]:
canada.groupby('AreaName')[years].sum()

In [ ]:
canada.groupby('AreaName')[years].sum().T.plot(figsize=(15,5), kind='area', alpha=0.5)

In [ ]:
canada.groupby('DevName').groups

In [ ]:
canada.groupby('DevName')[years].sum().T.plot(figsize=(15,5), kind='area', alpha=0.5)

In [ ]:

canada.groupby('DevName')['Total'].sum().plot(kind='pie', figsize=(5,5), autopct='%1.1f%%')

In [ ]:
canada.groupby('DevName')['Total'].agg(['mean','sum','count','min','max','std'])

In [ ]:
canada.groupby('AreaName')['Total'].agg(['mean','sum','count','min','max','std'])

In [ ]:

_ = canada.groupby(['AreaName','RegName'])[years].sum().T.plot(subplots=True, layout=(12,3),
                                                            figsize=(15,50), kind='area', alpha=0.5, 
                                                            grid=True)

In [ ]:
cols_to_drops = ['Type','Coverage','AREA','REG','DEV']
canada.drop(columns=cols_to_drops, inplace=True)

In [ ]:
canada.head()

In [ ]:
canada.rename(
    {'AreaName':'Continent', 'RegName':'Region','DevName':'Status'},
    axis=1,
    inplace=True
)

In [ ]:
canada.rename(
    {'United Kingdom of Great Britain and Northern Ireland':'UK'},
    inplace=True
)

In [ ]:
canada.head()

In [ ]:
canada.to_csv('canada.csv')